USE [master]
GO
/****** Object:  Database [GestorEncuestas]    Script Date: 4/14/2025 5:06:00 PM ******/
CREATE DATABASE [GestorEncuestas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestorEncuestas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorEncuestas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestorEncuestas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GestorEncuestas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestorEncuestas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestorEncuestas]
GO
/****** Object:  Table [dbo].[Encuesta]    Script Date: 4/14/2025 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encuesta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[Descripcion] [text] NULL,
	[TipoVisibilidad] [varchar](100) NOT NULL,
	[EstaActiva] [bit] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaExpiracion] [datetime] NULL,
	[CreadorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preguntas]    Script Date: 4/14/2025 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preguntas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EncuestaId] [int] NOT NULL,
	[Pregunta] [varchar](500) NOT NULL,
	[TipoRespuesta] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 4/14/2025 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reportes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EncuestaId] [int] NOT NULL,
	[FechaGenerado] [datetime] NULL,
	[GeneradoPor] [int] NULL,
	[Formato] [varchar](10) NULL,
	[RutaArchivo] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuestas]    Script Date: 4/14/2025 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuestas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EncuestaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[PreguntaId] [int] NOT NULL,
	[FechaRespuesta] [datetime] NULL,
	[ValorRespuesta] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 4/14/2025 5:06:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Encuesta] ADD  DEFAULT ((1)) FOR [EstaActiva]
GO
ALTER TABLE [dbo].[Encuesta] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Preguntas] ADD  DEFAULT ('Escala') FOR [TipoRespuesta]
GO
ALTER TABLE [dbo].[Reportes] ADD  DEFAULT (getdate()) FOR [FechaGenerado]
GO
ALTER TABLE [dbo].[Respuestas] ADD  DEFAULT (getdate()) FOR [FechaRespuesta]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Encuesta]  WITH CHECK ADD FOREIGN KEY([CreadorId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Preguntas]  WITH CHECK ADD FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD FOREIGN KEY([GeneradoPor])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([PreguntaId])
REFERENCES [dbo].[Preguntas] ([Id])
GO
ALTER TABLE [dbo].[Respuestas]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD CHECK  (([Formato]='Excel' OR [Formato]='PDF'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Rol]='Usuario' OR [Rol]='Administrador'))
GO
USE [master]
GO
